@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*:focus {
	outline:0
}

 	.slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        display: none;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }

    @media screen and (min-width: 780px) {
		.slideout-panel {
		    margin-left: 256px;
		}

		.slideout-menu {
		    display: block;
		}

		.btn-hamburger {
		    display: none;
		}
	}

.chat {
	width: 100%;
	height: 100vh;
}

.__chat__button {
	border: none;
	background-color: transparent;
	color: white;
}

.chat .top {
	background: #34495e;
	width: 100%;
	height: 60px;
	padding: 15px;
}

.top h2 {
	position: relative;
	top: 5px;
	left: 25px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 21px;
	width: 70%;
	margin: 0px auto;
}

.chat .new {
	width: 100%;
	height: 60px;
	padding: 15px;
	background-color:  #9b59b6;
}

.new a {
	display: block;
	width: 80%;
	margin: 5px auto;
	font-size: 18px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

.chat .list {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 0;

}

.list li {
	width: 100%;
	height: 98px;
	background-color: #ecf0f1;
	padding: 0px;
	border-bottom: 1px solid #ddd;
	list-style: none;
}

li .agent {
	display: inline-block;
	width: 30%;
	height: 100%;
	background-color: #ecf0f1;
	position: relative;
	top: -0px;

	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;

}

.amarillo {
	border-right: 6px solid #f1c40f;
}

.verde {
	border-right: 6px solid  #1CC6AE;
}

.azul {
	border-right: 6px solid  #3498db;
}

.rojo {
	border-right: 6px solid  #e74c3c;
}

li .message {
	display: inline-block;
	width: 64%;
}

.__name__agent {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 17px;
	width: 80%;
	margin-left: 20px;
	display: block;
}

.__message__content {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 80%;
	margin-left: 20px;
	font-size: 13px;
	display: block;
}

.__chat__left {
	background-color: #ecf0f1;
	padding: 15px;
}

.__chat__left ul {
	width: 98%;
	margin: 5px auto;
	display: block;
	padding-left: 0 !important;
}

.__chat__left ul li {
	display: block;
	font-family: 'Open Sans', sans-serif;

}

.__chat__left ul li img {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 70%;
}

.__chat__left ul li span {
	display: inline-block;
	width: 65%;
	margin-left: 10px;
	font-size: 13px;
	color: black;
	margin-bottom: 25px;
}

span.circle {
	width: 10px !important;
	height: 10px;
	position: relative;
	top: 25px;
	border-radius: 50%;
}

.online {
	background-color: #2ecc71;
}

.offline {
	background-color: #f1c40f;
}

.__asunto {
	width: 100%;
	height: 100vh;
	background-color: white;
	border-top: 8px solid #9b59b6;
}

.top__menu {
	width: 100%;
	height: 60px;
	color: #9b59b6;
}

.top__menu i {
	position: relative;
	left: 15px;
	top: 20px;
	font-size: 30px;
}

.__consulta {
	font-size: 30px;
	color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	position: relative;
	top: 20px;
	left: 25px;
	background-color: white;
}

.__content__asunto {
	width: 90%;
	height: 450px;
	background-color: white;
	margin: 15px auto;
	padding: 15px;
	overflow-y: scroll;
}

.input__message {
	display: block;
	width: 100%;
	height: 60px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	background-color: #E9EAF3;
}

.input__message input {
	border: none;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	color: #B9B7C2;
	font-weight: bold;
	width: 60%;
	padding: 12px;
	font-size: 15px;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 70%;
	display: inline-block;
	position: relative;
	top: 14px;
	left: 40px;
}

.__send {
	width: 40px;
	height: 40px;
	color: white;
	border-radius: 70%;
	background-color: #9B59B6;
	display: inline-block;
	border: none;
	margin-right: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.__attach__doc {
    position: relative;
    overflow: hidden;
}
.__attach__doc input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;

    cursor: inherit;
    display: block;
}

.__attach__doc {
	color: #9B59B6;
	background-color: white;
}

.__messages {
	display: block;
	width: 70%;
	padding: 7.5px;
	margin-bottom: 10px;
	border-radius: 5px;

	font-family: 'Open Sans', sans-serif;
	background-color: #E9EAF3;
}

.__messages img {
	margin-bottom: 20px;
}

.derecha {
	display: block;
	position: relative;
	right: -85px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
