@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
  height: 100%;
	background: #ecf0f1;
}


.tabla label {
	color: white !important;
}

.contenedor {
	width: 100%;
	height: 100vh;
	background: rgba(231, 76, 60,1.0);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
		.rangos input {
			margin-top: 5px;
		}

		.menu h2 {
			margin: 0;
			font-size: 18px;
			width: 80%;
			margin: 0 auto;
			margin-top: 10px;
			text-align: center;
		}

		.topmenu {
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
			background-color: #304FFE;
			height: 45px;
			widows: 100%;
			color: white
		}

		.banner {
			width: 90%;
			margin: 5px auto;
			border-radius: 4px;
			height: 110px;
			background-color: #304FFE;
			color: white;
		}

		.banner-2 img {
			display: block;
			width: 90%;
			margin: 5px auto;
			border-radius: 4px;
			height: 110px;
		}

		.form-control {
			margin-bottom: 7px;
		}

		.banner img {
			display: block;
			width: 90%;
			margin: 5px auto;
			border-radius: 4px;
			height: 110px;
		}


		.titulo {
			width: 90%;
			border-radius: 4px;
			margin: 0 auto;
			font-size: 20px;
			padding-top: 5px;
			height: 30px;
			color: white;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			margin-top: 5px;
			background-color: #304FFE;
			text-transform: uppercase;
		}

		.tarifas {
			width: 90%;
			display: flex;
			/*overflow-x: scroll;
    		overflow-y: hidden;
    		white-space: nowrap;*/
			height: 120px;
			margin: 5px auto;


		}

		.opciones {
			width: 100%;
			margin-top: 1px;
			height: 200px;
		}

		.opciones .fila {
			width: 90%;
			margin: 5px auto;
			display: flex;
			justify-content: center;
		}

		.fila .box {
			background-color: #304FFE;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
			width: 48%;
			color: white;
			margin: 0px auto;
			height: 80px;
			border-radius: 4px;
			border-radius: 4px;
		}

		.box p {
			width: 80%;
			margin: 5px auto;
			margin-top: 15px;
			text-align: center;
		}

		.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

		.box h4 {
			width: 80%;
			margin: 5px auto;
			text-align: center;
		}

		.box:before, .box:after {
			border: none;
		}

		.box h4 a {
			text-decoration: none;
			color: white;
		}

		.col h5 {
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			color: white;
			font-size: 13.5px;
		}

		.col ul {
			font-size: 11.5px;
		}

		.col {

			display: inline-block;
			min-width: 105px;
			height: 100px;
			padding: 4px;
			margin: 5px auto;
			margin-right: 2.5px;
			color: white;
			background-color: #304FFE;
			border-radius: 4px;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
		}

		.form-group label {

		}

		.col ul li span {
			float: right;
		}

		.col ul {
			list-style: none;
			padding: 0;
		}

		.log {
			position: absolute;
			left: 20px;
			top: 15px;
			color: white;
		}

		.log a {
			color: white !important;
		}

		.empresa {
			display: block;
			width: 80%;
			font-weight: bold;
			margin: 5px auto;
			margin-top: 0px;
			padding-top: 15px;
			text-align: center;
		}

		.saltar {
			display: block;
			border: none;
			height: 10vh;
			width: 100%;
			position: fixed;
			bottom: 0;
			font-size: 21px;
			padding-top: 18px;
			text-transform: uppercase;
			color: white;
			background: #304FFE;

			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			text-align: center;
		}
		.saltar:hover {
			text-decoration: none;
			color: white;
		}
		.swiper-container {
    		width: 100%;
    		height: 80vh;
    		position: relative;
		}
		.swiper-slide h2 {
			width: 80%;
			margin: 20px auto;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			margin-top: 150px;
		}

		.swiper-slide p {
			width: 80%;
			font-family: 'Roboto', sans-serif;
			color: white;
			margin: 50px auto;
			text-align: center;
		}

		.menu {
			width: 100%;
			height: 10vh;
			position: fixed;
			bottom: 0;
			padding-top: 10px;
			color: white;
			background: #304FFE;

			font-family: 'Roboto', sans-serif;
			font-weight: bold;

		}
		.valor {
			background-color: white;
			width: 90%;
			margin: 10px auto;
			height: 110px;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
			border-radius: 4px;
			box-sizing: border-box;
			padding-top: 10px;
		}
		.contenedor h3 {
			display: inline-block;
			width: 150px;
			padding: 5px;
			margin-left: 15px;
			text-align: center;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			text-transform: uppercase;

			font-size: 16px;
		}

		.seleccionado {
			border: 2px solid white;
			border-radius: 24px;
		}

		.valor h4 {
			font-size: 20px;
			box-sizing: border-box;
			margin: 8px;
			display: block;
			margin-bottom: 2px;
			color: #3498db;
			font-family: 'Roboto', sans-serif;
			font-weight: 300
		}
		.valor p {
			display: inline-block;

			margin: 5px auto;
			text-align: center;
			height: 30px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			color: #e74c3c;
			font-size: 45px
		}
		.valor p span {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			display: inline-block;
			width: 30px;
			height: 20px;
			margin-left: 15px;
			text-align: center;
		}

		.valor select {
			margin-top: 0;
			display: inline-block;
		}
		.login {
			width: 80%;
			display: block;
			margin: 20px auto;
			margin-bottom: 0px;
			margin-top: 50px;
			text-align: center;
			border: none;
			background-color: transparent;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 20px;
		}
		.menu {
			display: flex;
			flex-wrap: wrap;
		}

		.menu a {
			width: 30%;
			text-align: center;
			margin: 0px auto;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			margin-top: 0px;
			text-decoration: none;
		}

		.menu a p {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			width: 60px;
			height: 30px;
			padding: 0px;
			text-align: center;
			margin: 0px auto
		}

		.menu a p i {
			text-align: center;
			display: inline-block;
			margin-bottom: 5px;
			width: 40px;
			margin: 0 auto
		}

		.top {
			width: 100%;
			height: 70px;
			background-color: transparent;
			display: flex;
			flex-wrap: wrap;
		}

		.atras {
			display: inline-block;
			margin-left: 20px;
			font-size: 24px;
		}

		.top p {

			display: inline-block;
			color: white;
		}

		.top > p > h2 {
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			margin: 0;
			font-size: 25px;
			text-transform: uppercase;
		}

		.calculadora h2 {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 28px;
			color: white;
			margin-left: 20px;
		}
		.calculadora input, .calculadora select {
			background: transparent;
			width: 150px;
			display: block;
			margin-left: 20px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			border: none;
			color: red;
			font-size: 25px;
		}

		.cal {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 25px;
			color: white;

			margin-left: 80px;
			margin-top: 10px;
			text-align: center;
		}

		.calculadora input:focus {
			border: none;
		}

		.calcular {
			display: block;
			width: 80%;
			height: 40px;
			border-radius: 4px;
			margin: 10px auto;
			border: none;
			margin-top: 15px;
			color: white;
			background: #34495e;

			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			font-size: 21px;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
		}

		.calculadora input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  			color: white;
  			font-weight: 100
		}
		.dni {
			border: none;
			background-color: white;
			color: #e74c3c;
			margin-left: 20px;
			border-radius: 4px;
			width: 150px;
			font-size: 15px;
			height: 30px;
			margin-top: 15px;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
		}

		::-moz-selection {
			color: white;
			background-color: #606C76;
		}

		::selection {
			color: white;
			background-color: #606C76;
		}

		/* Let's get this party started */
		::-webkit-scrollbar {
    		width: 9px;
		}

		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
    		border: none;
			background-color: white;
			color: #e74c3c;
			display: block;
			margin-left: 20px;
			border-radius: 4px;
			width: 150px;
			padding-top: 5px;
			padding-bottom: 10px;
			font-size: 15px;
			text-align: center;
			height: 15px;
			margin-top: 15px;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			box-shadow: 0 3px 2px rgba(0,0,0,.05);
		}

		.inputfile:focus + label,
		.inputfile + label:hover {}

		.box {
			height: 61px
		}

		.box p {
			margin-top: 7px;
		}
