<template name="enviar">
  {{#if currentUser}}
	<div class="contenedor" style="height: 855px; background-color: {{fondo}}">

		<div class="topmenu" style="background-color: {{menu}}">

			<span class="log">
				<a href="/home" style="color: #34495e"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			</span>


			<span class="empresa">Mandar orden</span>
		</div>

		<div class="container">
      <div class="row">
        <div class="col-md-6" style="height: 400px;">
        <br>
          <table style="tabla">
            <tr>
              <td>
                <label for="nombre" style="display: inline-block; color: white;">Remitente</label>
              </td>
              <td>
                <div class="form-group">
                  <input disabled value="{{currentUser.profile.nombre}} {{currentUser.profile.ap}} {{currentUser.profile.am}}" type="text" class="form-control" id="remitente" name="remitente">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label style="color: white;" for="nombre">Nombre de beneficiario</label>
              </td>
              <td>
              <div class="form-group">
                <input type="text" class="form-control" id="nombre" name="nombre">
              </div>

              </td>
            </tr>
            <tr>
              <td>
                <label for="ap" style="color: white;">A. Paterno</label>
              </td>
              <td>
              <div class="form-group">
                <input type="text" class="form-control" id="ap" name="ap">
              </div>

              </td>
            </tr>
            <tr>
              <td>
                <label for="am" style="color: white;">A. Materno</label>
              </td>
              <td>
              <div class="form-group">
                <input type="text" class="form-control" id="am" name="am">
              </div>

              </td>
            </tr>
            <tr>
              <td>
                <label for="telf" style="color: white;">Telf. Beneficiario (C. País) + (Número)</label>
              </td>
              <td>
              <div class="form-group">
                <input type="number" class="form-control" id="telf" name="telf">
              </div>

              </td>
            </tr>
            <tr>
              <h3 style="margin: 0; padding-left: 0;">Montos</h3>
            </tr>
             <tr>

              <td>
                  <label for="monto" style="color: white;">Moneda Dólares</label>
                </td>
                <td>
                  <div class="form-group">
                    <input value="{{m}}" type="number" style="width: 109px; display: inline-block;" class="form-control" id="montod" name="montod">
                    <button class="btn btn-primary calc-dolar" style="width: 65px; border-color: {{menu}}; background-color: {{menu}}; text-align: left; padding-left: 6px;">Calcular
                    </button>
                  </div>
                </td>
            </tr>
            <tr>

              <td>
                  <label for="monto" style="color: white;">Moneda Nacional</label>
                </td>
                <td>
                  <div class="form-group">
                    <input value="{{ma}}" type="number" class="form-control" style="display: inline-block; width: 109px;" id="montoe" name="montoe">
                    <button class="btn btn-primary calc" style="width: 65px; border-color: {{menu}}; background-color: {{menu}}; text-align: left; padding-left: 6px;">Calcular
                    </button>
                  </div>
                </td>
            </tr>
            <tr>
              <td>
                <label for="pais3" style="color: white;">País</label>
              </td>
              <td>
              <div class="form-group">
                <select value="{{countrier}}" class="form-control" id="pais3">
                  <option value="">--Selecciona un país--</option>
                  {{#each paises}}

                  <option value="{{this._id}}" {{selectedp}}>{{this.nombre}}</option>
                  {{/each}}
                </select>
              </div>

              </td>
            </tr>
            <tr>
              <td>
                <label for="banco" style="color: white;">Banco</label>
              </td>
              <td>
                <div class="form-group">
                  <select value="{{banker}}" class="form-control" id="bancotwo">

                  {{#each bancos}}
                      <option value="{{this._id}}" {{selectedb}}>{{this.nombre}}</option>
                  {{/each}}
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <label for="monto" style="color: white;">Monto a Enviar ($)</label>
              </td>
              <td>
                <div class="form-group">
                  <input value="{{m}}" disabled type="number" class="form-control" id="monto" name="monto">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="cargo" style="color: white;">Tipo de Cambio ($)</label>
              </td>
              <td>
                <div class="form-group">
                  <input value="{{tc}}" disabled type="number" class="form-control" name="cambio">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="cargo" style="color: white;">Cargo ($)</label>
              </td>
              <td>
                <div class="form-group">
                  <input value="{{c}}" disabled type="number" class="form-control" name="cargo">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="total" style="color: white;">Total ($)</label>
              </td>
              <td>
                <div class="form-group">
                  <input value="{{t}}" disabled type="number" class="form-control" name="total">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>


			</div>
		</div>




	<div class="menu" style="background-color: {{menu}}">
		<a class="e">
			<p class="enviar">
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
				Mandar Orden
			</p>

		</a>
		<a href="/home">
			<p>
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				Regresar
			</p>

		</a>

	</div>

  {{else}}
     {{>login2}}
  {{/if}}
</template>
